header section {
  padding: 30px;
  min-height: 150px;
  text-align: center;
}
header section.middle {
  width: 700px;
  display: inline-block;
  vertical-align: top;
}
header section.middle span, header section.middle input {
  font-size: 2rem;
  font-weight: bold;
}
header section.middle input {
  font-size: 1.5Rem;
  width: 80px;
}


section.body{
  text-align: center;
}
.card {
  background-color: whitesmoke;
  text-align: left;
  width: 25%;
  height: 125px;
  border: 1px solid black;
  display: inline-block;
  margin: 15px;
  padding: 5px;
  vertical-align: top;
}
